   .btn-info{
            color: #fff;
            background-color: #000066;
            border-color: #fff;
        }
        a {
            color: #000066;
            text-decoration: none;
            background-color: transparent;
        }
        a:hover {
            color: #000066;
            text-decoration: underline;
            }


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.daterangepicker {
    position: absolute;
    color: inherit;
    background-color: #fff;
    border-radius: 4px;
    width: 278px;
    padding: 4px;
    margin-top: 1px;
    top: 100px;
    left: 20px;
}
.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001;
}
.daterangepicker .dropdown-menu .ltr .opensright.show-calendar{
    top: 46px;
    left: 0px;
    right: auto;
    display: block;
}
.ranges {
    font-size: 11px;
    float: none;
    margin: 4px;
    text-align: left;
}


.ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.ranges li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer;
}
.ranges li.active {
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;
}
.ranges li:hover {
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;
}
.daterangepicker.show-calendar .calendar {
    display: block;
}
.daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px;
}
.daterangepicker .daterangepicker_input {
    position: relative;
}
.daterangepicker .calendar-table {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
}  
.daterangepicker.opensright:after {
    left: 10px;
}
.daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
.daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%;
} 
.btn-success:active:hover{
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}